name: Run Tests

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - local
          - docker-build
          - go-build-release-darwin-amd64
          - go-build-release-darwin-arm64
          - go-build-release-freebsd-amd64
          - go-build-release-freebsd-arm64
          - go-build-release-linux-amd64
          - go-build-release-linux-arm32-v6
          - go-build-release-linux-arm32-v7
          - go-build-release-linux-riscv64
          - go-build-release-windows-amd64
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.25

      - name: Build targets via `make`
        run: make ${{ matrix.target }}
